<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  @if (formError()) {
  <div class="alert alert-danger" role="alert">
    {{ formError() }}
  </div>
  }

  <div class="alert alert-info" role="alert">
    <small><strong>Email: </strong> glauber&#64;airosoftware.com</small><br />
    <small><strong>Password: </strong> password</small>
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input
      type="email"
      id="email"
      class="form-control"
      formControlName="email"
      [class.is-invalid]="
        email?.hasError('required') || email?.hasError('email')
      "
    />
    @if (email?.hasError('required')) {
    <div class="invalid-feedback">Email is required.</div>
    } @if (email?.hasError('email')) {
    <div class="invalid-feedback">Must be a valid email.</div>
    }
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      id="password"
      class="form-control"
      formControlName="password"
      [class.is-invalid]="password?.hasError('required')"
    />
    @if (password?.hasError('required')) {
    <div class="invalid-feedback">Password is required.</div>
    }
  </div>

  <button class="btn btn-lg btn-primary" type="submit">Login</button>
</form>
